@import "_color"
.company-intro
    text-indent: 2em
    font-size: 14px
    line-height: 29px
    padding-top: 51px
    padding-bottom: 44px
.about-news
    li
        margin-bottom: 20px
        img
            position: relative
        .p-content1,.p-content2
            p
                font-size: 14px
                line-height: 29px
                text-indent: 2em
                padding: 10px
                color: #ffffff
            @media (min-width: 500px)
                width: 95.8%
                padding: 25px
                position: absolute
                bottom: 0
                background: $blue
                opacity: .8
            @media (min-width: 520px)
                width: 96%
            @media (min-width: 550px)
                width: 96.3%
            @media (min-width: 600px)
                width: 96.6%
            @media (min-width: 650px)
                width: 96.9%
            @media (min-width: 700px)
                width: 97.1%
            @media (min-width: 760px)
                width: 97.3%
            @media (min-width: 1000px)
                padding: 20px 40px
                width: 96%
            @media (min-width: 1200px)
                padding: 30px 60px 21px 59px
                width: 95%
        .p-content1
            @media (min-width: 1000px)
                padding: 5px 16px
            @media (min-width: 1200px)
                padding: 14px 60px 8px 59px
.news-art
    padding-top: 40px
    .about-3
        img
            position: relative
            @media (min-width: 320px) and (max-width: 759px)
                margin-bottom: 20px
            @media (min-width: 760px)
                padding-right: 11px
            @media (min-width: 1000px)
                padding-right: 21px
            @media (min-width: 1200px)
                padding-right: 25px
        p
            position: absolute
            bottom: 0
            background: $blue
            color: #ffffff
            font-size: 14px
            @media (min-width: 320px)
                padding: 15px
                width: 98.8%
            @media (min-width: 400px)
                padding: 15px
                width: 99%
            @media (min-width: 450px)
                padding: 15px
                width: 99.2%
            @media (min-width: 500px)
                padding: 15px
                width: 99.2%
            @media (min-width: 598px)
                padding: 15px
                width: 99.3%
            @media (min-width: 675px)
                padding: 15px
                width: 99.4%
            @media (min-width: 760px)
                width: 96%
                padding: 20px 10px
                opacity: 0.6
            @media (min-width: 1000px)
                width: 92.5%
                padding: 15px
                opacity: 1
            @media (min-width: 1200px)
                width: 92.7%
                padding: 20px 40px
                opacity: 1
    .about-4
        @media (min-width: 320px) and (max-width: 759px)
            margin-bottom: 20px
        @media (min-width: 760px)
            margin-left: 0px
        @media (min-width: 1000px)
            margin-left: -22px
        @media (min-width: 1200px)
            margin-left: -25px
    .about-5
        @media (min-width: 320px) and (max-width: 759px)
            margin-bottom: 20px
        @media (min-width: 760px)
            margin-left: 0px
            margin-top: 18px
        @media (min-width: 1000px)
            margin-left: -22px
            margin-top: 3px
        @media (min-width: 1200px)
            margin-left: -25px
            margin-top: 3px
.culture
    @media (max-width: 999px)
        margin-top: 30px
    div
        border-top: 1px dotted #888888
        @media (min-width: 1000px)
            padding-top: 10px
            padding-bottom: 6px
        @media (min-width: 1200px)
            padding-top: 17px
            padding-bottom: 10px
    .jshen
        border-top: 1px dotted #ffffff
    span
        font-size: 16px
        color: $blue
        @media (min-width: 320px)
            line-height: 33px
        @media (min-width: 1000px)
            line-height: 24px
        @media (min-width: 1200px)
            line-height: 33px
    p
        font-size: 14px
        @media (min-width: 320px)
            line-height: 29px
        @media (min-width: 1000px)
            line-height: 22px
        @media (min-width: 1200px)
            line-height: 29px
.timeline
    padding-top: 20px
    @media (min-width: 760px)
        padding-bottom: 40px 
    @media (min-width: 1200px)
        padding-bottom: 60px
    h4
        font-size: 24px
        color: $blue
        padding-bottom: 28px
    p
        font-size: 14px
        line-height: 36px
.tab .tab-nav
    li 
    .active
        a
            span
                color: $orange
        margin-bottom: 30px
.tab .tab-nav li a
    padding: 0    
    text-align: center
    position: relative
    p
        line-height: 69px
        position: absolute
        bottom: 0
        @media (min-width: 1000px)
            left: 32px
        @media (min-width: 1200px)
            left: 46px
        
    span
        font-size: 14px
        position: absolute
        bottom: -10px
        color: $blue
.tab .tab-nav li a,.tab .tab-body-bordered
    border-style: none
.tab-head
    margin-top: 30px
    margin-bottom: 50px
    ul
        padding-left: 0
    @media (min-width: 320px) and (max-width: 759px)
        display: none
.tab .tab-body .tab-panel 
        @media (min-width: 320px) and (max-width: 759px)
            display: block
        .img2
            display: none
.tab-panel
    @media (min-width: 320px) and (max-width: 759px)
        display: block
.tab-nav
    li  
        @media (min-width: 760px)
            width: 14%
            border-bottom: 1px dotted #a0a0a0
            float: left
        
